:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(18, 18, 19);
}

.dialog__container{
  background-color: #2e2e2e !important;
}

body{
  margin: 0;
  padding: 0;
}